:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.content-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5vi;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.header__theme-button {
  position: relative;
  font-size: 18px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  z-index: -1;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 90%; /* 27px */
  text-align: center;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered.content__paragraph:first-of-type::first-letter {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-inline-end: 1px;
}

.content__paragraph a {
  color: currentColor;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%; /* 36px */
}

.content__list {
  list-style: none;
  padding: 0 0 0 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list-item::before {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: -25px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-block-start: -7.5px;
}

.content__picture {
  inline-size: 100%;
}

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vi);
  margin: 7% auto;
  inset-inline-end: 5vi;
}

.content__picture-caption {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-block-end: 1px solid currentColor;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  z-index: -1;
}
