:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding: 10% 0 0 0;
}

.heading {
  font-family: var(--accent-font, serif);
  text-align: center;
  font-weight: 600;
  line-height: 90%; /* 27px */
}

.content-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5vi;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered.content__paragraph:first-of-type::first-letter {
  display: inline-block;
  font-weight: 700;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin: 0 1px 0 0;
}

.content__paragraph a {
  color: currentColor;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin: 0 0 1.5em 0;
}

.content__blockquote {
  width: 75%;
  margin: 0 auto 1.5em;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%; /* 36px */
}

.content__list {
  list-style: none;
  padding-inline-start: 30px;
}

.content__list-item {
  position: relative;
  padding: 0 0 0 10px;
}

.content__list-item:not(:last-child) {
  margin: 0 0 10px 0;
}

.content__list-item::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -15px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin: 0 0 40px 0;
}
